<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>


    <body>
      <div class="container">
      <div class="row">
        <span><img src="http://puntourbanartmuseum.org/images/logo.png" style="height:80px; margin-top: 3%; margin-bottom: 3% "/></span>

      </div>
      <div class="row">
          <nav class="navbar navbar-inverse bg-light">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin Portal</a>
              </div>
              <ul class="nav navbar-nav" >
                <li><a href="{{ url_for('fireput') }}">Add a Mural</a></li>
                <li><a href="{{ url_for('fireget') }}">Edit/Delete Murals</a></li>
                <li><a href="{{ url_for('artistput') }}">Add an Artist</a></li>
                <li><a href="{{ url_for('artistget') }}">Edit/Delete an Artist</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
            </div>
          </nav>
          {% block content %}
		<!-- <div class="container"> -->
                        <div id='page-wrap'>
                            <!-- <center> -->
                                {% block page_content %}{% endblock %}
                            <!-- </center> -->
                        </div>
		<!-- </div> -->
           {% endblock %}
	<!-- </div> -->
       <!-- </div> -->
    <!-- </div> -->   
    </div>
    </div>
  </body>


</html>