<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
        
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <script>alert("{{ message }}")</script>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <body>
      <div class="container">
      <div class="row">
       
        <span><img class="header-img" src="{{ url_for('static', filename = 'banner.png') }}" style="width: 34%; margin-top: 3%; margin-bottom: 3% "/></span>

      </div>
      <div class="row">
          <nav class="navbar navbar-inverse bg-light">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('all_murals') }}">Admin Portal</a>
              </div>
              <ul class="nav navbar-nav" >
                  <li><a href="{{ url_for('all_murals') }}">Murals</a></li>
                  <li><a href="{{ url_for('all_artists') }}">Artists</a></li>
                  <li><a href="{{ url_for('artist_put') }}">New Artist</a></li>
                  <li><a href="{{ url_for('new_mural') }}">New Mural</a></li>
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
            </div>
          </nav>
          {% block content %}
           {% endblock %} 
           <div id='page-wrap' style="padding: 3%; padding-bottom: 10% !import;">
              {% block page_content %}{% endblock %}
           </div>
    </div>
    </div>
  </body>


</html>