{% extends "base.html" %}

{% block page_content %}
<body>
<table style="width:80%" class="table table-striped">
<thead><tr><th>Name</th><th>City</th><th>Bio</th></tr></thead>

{% for a in artists %}
<tbody>
<tr>
    <td>{{ artists[a].name }}</td>
    <td>{{ artists[a].city }}</td>
    <td>{{ artists[a].bio }}</td>
      
    <td>
        <form action="{{url_for('edit_artist')}}" method = "GET">
            <input type = "hidden" name = "artists" value = "{{ a }}">
            <button type="submit" name="edit" class="btn btn-warning">Edit</button>
        </form>
    </td>
    <td>
        <form action="{{url_for('delete_artist')}}" method = "POST">
            <input type = "hidden" name = "artistid" value = "{{ a }}">
            <button type="submit" name="del" class="btn btn-danger">Delete</button>
        </form>
    </td>

</tr>
</tbody>
{% endfor %}
</table>
<body>
{% endblock %}