{% extends "base.html" %}

{% block page_content %}
<body>
<table style="width:80%">
<tr><th>Title</th><th>Artist</th><th>Photo</th><th>Latitude</th><th>Longitude</th><th>Month</th><th>Year</th></tr>

{% for m in murals %}
<tr>
<td>{{ murals[m].Title }}</td> <td>{{ murals[m].Artist }}</td> <td>{{ murals[m].Photo }}</td><td>{{ murals[m].Lat }}</td> <td>{{ murals[m].Long }}</td>  <td>{{ murals[m].Month }}</td> <td>{{ murals[m].Year }}</td>
	<td><form action="{{url_for('delete_mural')}}" method = "POST"> <input type = "hidden" name = "muralid" value = "{{ m }}"><button type="submit" name="del">Delete</button></form></td>
</tr>
{% endfor %}
</table>
<body>
{% endblock %}